.add-goal {
  width: calc(100% - 2em);
  align-items: center;
  padding: 0.7em 0 1em;
  background-color: #ffe5e5;
  border: 1px solid #ffbfbf;
  margin: 0 auto;
}

.add-goal-form {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 90%;
}

.add-goal,
.add-goal-form,
.form-control,
.form-control label,
.form-control input[type="text"],
.form-control select {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-top: 0.4em;
  justify-content: center;
  padding-top: 1em;
}

.form-control label {
  justify-content: center;
  padding: 0 0 1em 0.5em;
}

.form-control input[type="text"],
.form-control select {
  justify-content: center;
  padding: 1em 0 1em 0.5em;
  border: none;
}

.form-control input[type="text"]:focus,
.form-control select:focus {
  outline-color: #a8df8e;
}

.form-control select {
  background-color: #fff;
  cursor: pointer;
}

.form-control input[type="text"],
.form-control select,
.add-goal-button {
  border-radius: 8px;
  font-size: 1em;
}

.add-goal-button {
  margin-top: 0.6em;
  background-color: #f3fde8;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.add-goal-button:hover {
  background-color: #a8df8e;
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight */
  -moz-appearance: none; /* Disable default styles on Firefox */
  appearance: none;
  outline: none; /* Remove default focus outline */
}

.add-goal-button:disabled {
  pointer-events: none; /* Disable pointer events on the disabled button */
}

.success-message {
  width: 90%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  border-radius: 8px;
  font-size: 1em;
  margin-top: 0.6em;
  background-color: #a8df8e;
  border: none;
  padding: 1em;
}

.error-message {
  width: 90%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  border-radius: 8px;
  font-size: 1em;
  margin-top: 0.6em;
  background-color: #f9c0c0;
  border: none;
  padding: 1em;
}

@media screen and (min-width: 769px) and (max-width: 1159px) {
  .add-goal {
    max-width: 60%;
  }
}

@media screen and (min-width: 1160px) {
  .add-goal {
    max-width: 968px;
  }
}
