*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove the scrollbar from various browsers */
html {
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f3fde8;
}

.app-heading {
  color: #a0c49d;
  font-weight: 500;
  padding: 0.7em 0.5em 0.5em;
}

.app-heading,
.app-info {
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.app-info {
  font-weight: 300;
  padding: 0 1em 1.2em;
}

.goals {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1em;
  gap: 20px;
  padding: 2em 0;
}
