*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove the scrollbar from various browsers */
html {
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f3fde8;
}

.app-heading {
  color: #a0c49d;
  font-weight: 500;
  padding: 0.7em 0.5em 0.5em;
}

.app-heading,
.app-info {
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.app-info {
  font-weight: 300;
  padding: 0 1.4em 1.2em;
}

.actions {
  display: flex;
  justify-content: center;
  padding: 0 1em 1em;
}

.action-button {
  background-color: #a0c49d;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1em;
  padding: 0.8em 3em;
}

.action-button:hover {
  background-color: #a8df8e;
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight */
  -moz-appearance: none; /* Disable default styles on Firefox */
  appearance: none;
  outline: none; /* Remove default focus outline */
}

@media screen and (max-width: 320px) {
  .app-heading {
    font-size: 1.4em;
  }

  .actions {
    flex-direction: column;
  }

  .action-button {
    font-size: 0.8em;
  }

  .action-button {
    margin-top: 0.6em;
    padding: 0.8em;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .actions {
    gap: 10px;
  }

  .action-button {
    font-size: 0.9em;
  }

  .action-button {
    padding: 0.8em 2.8em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1159px) {
  .app-heading,
  .app-info {
    width: 60%;
    margin: 0 auto;
  }

  .actions {
    gap: 10px;
  }
}

@media screen and (min-width: 1160px) {
  .app-heading,
  .app-info {
    width: 70%;
    margin: 0 auto;
  }

  .app-info {
    font-weight: 300;
  }

  .actions {
    gap: 10px;
  }
}
